*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #F6F8F9;
    background: radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #E5EBEE 30%, #D7DEE3 60%, #F5F7F9 100%);
    
}
.inno{
    width: 10%;
    height: 10%;
    border-radius: 100%;
    margin-left: 5%;
}
.log{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin:20px;
}
fieldset{
   margin-left: 20%;
   margin-right: 35%;
   border-color: black;
 border-radius: 5px;
 background-color: rgba(0, 0, 0, 0.37) ;
}
legend{
    font-size: 20px;
    margin: 10px;
}
.input1{
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 40px;
    padding-right: 50%;
    align-items: center;
}
label{
    margin-left: 20px;
}
.btn1{
    padding: 20px;
    margin: 20px;
    padding-right: 20px;
    background-color: blue;
    color: #E5EBEE;
    margin-left: 70%;
    padding-left: 30px;

}
.form1{
    margin-left: 10%;
}
table{
    border: 1px solid black;

 }/*============================================================== */
 .conneter{
    margin-left: 100%;
 }
 .btnconnex{
    margin-left: 80%;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.37) ;
    border: none;
 }
 .btnconnex:hover{
background-color: green;
color: white;
font-size: 20px;
font-weight: bold;

width: 20%;
 }
 .btnconnex a{
    text-decoration: none;
 }
 /* ======================================================================= */
 .connB{

  
 }
 .connB input{
    padding: 20px;
    width: 50rem;
    margin: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
 }
 .connB label{
    font-weight: bold;
    font-size: 20px;
 }
 .btn4{
    padding: 20px;
   width: 10rem;
    margin: 10px;
    border: none;
    background-color: rgb(54, 54, 233);
    margin-left: 30%;

 }
 .btn4 a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
 }